@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Avenir Next World';
    src: url('/fonts/AvenirNextWorld-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  body {
    font-family: 'Avenir Next World', sans-serif;
  }
  

